<style>

* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}


[class*="col-"] {
    float: left;
    padding: 1px;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



html {
    font-family: "Helvetica";
}
.header {
    background-color: rgba(0, 0, 0, 0);
    color: #f48042;
    padding: 15px;
}

.base {
    background-color: rgba(0, 0, 0, 0);
    color: #f48042;
    padding: 20px;
     margin: 50;
}

.menu ul {
    list-style-type: none;
    margin: 50;
    padding: 0;
}
.menu li {
    padding: 0%;
    margin-bottom: 10px;
    background-color: #878888;
    color: #ffefff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



input[type='range'], input[type='range'][orient=vertical]::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  
  writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    
    height: 175px;
    padding: 0 5px;
}
input[type='range']::-webkit-slider-runnable-track {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1.75em;
  box-shadow: 0 1px 2px #f49d6e, inset 0 .225em .225em #0d1112;
  background:#f48042;
}
a:link, a:visited {
    text-align: justify;
    
    border-radius: .55em;
    border-style: inset;
    border-color: #c4572d;
    
    
    font-size:  .98em;
    padding: 30%;
    background-color: #878888;
    color:  #f48042;
    
    white-space: 
 pre-wrap; 
    display: block;
    width: 50%;
    height: 10px;
    

}

a:hover, a:active {
    background-color: #ff9e00;
      -webkit-transition: all 1.25s ease; /* Safari and Chrome */
    -moz-transition: all 1.25s ease; /* Firefox */
    transition: all .55s ease;
}

</style>